@font-face {
    font-family: 'Undertale';
    src: url('../fonts/Undertale.otf') format('truetype');
}
 
canvas{
    font-family: 'Undertale';
    background-image: url("../images/titleScreen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html{
    font-family: 'Undertale';
    overflow: hidden;
}