@font-face {
    font-family: 'Undertale';
    src: url('../fonts/Undertale.otf') format('truetype');
}
 
canvas{
    font-family: 'Undertale';
    background-image: url("../images/Kankercel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

html{
    overflow: hidden;
}